{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card  card-body text-center">
        <h1 class="card-title text-center">Welcome to Task Manager</h1>
        <br>
        <p class="card-text">This is a simple Django application to manage your tasks.</p>
        <p class="card-text">You can create, view, update, and delete tasks.</p>
        <p class="card-text">Please sign up or sign in to get started.</p>
        <p class="card-text">If you are already signed in, you can view your tasks and manage them.<p>
        <p class="card-text">Enjoy managing! </p>
        <div class="text-center">
            <a class="btn btn-outline-secondary" href="{% url 'signin' %}">
                Sign In
            </a>
            <a class="btn btn-outline-dark" href="{% url 'signup' %}">
                Sign Up
            </a>
        </div>
    </section>
</main>

{% endblock %}