{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nihil amet earum quidem esse, necessitatibus debitis sed illo unde officiis dolorem veniam minus porro fugiat. Natus beatae nihil impedit, magnam, corrupti voluptates veritatis optio, quam iure accusantium saepe vero possimus iusto voluptatum temporibus. Eligendi repellat quas corporis ex minus quia fugit explicabo repellendus facilis perferendis, omnis obcaecati cumque quis aperiam ea dolor aliquam doloremque. Voluptatem neque accusantium voluptates deleniti aliquam sint nihil iusto nam dolorem cumque dicta tenetur cupiditate quia est temporibus, sunt enim necessitatibus officia eum modi blanditiis dolores repudiandae veritatis? Vero reprehenderit architecto deserunt expedita fugit repellat a?</p>

{% endblock %}